/*--Global Styles--*/
body {
  font-family: "montserrat";
  background-color: #fffafa;
  margin: 0;
}

/* ---Partials--- */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.header button {
  font-family: "montserrat";
  margin: 50px 10px 0px 0px;
  padding: 5px 10px;
  border: 1.5px solid #107e7d;
  border-radius: 3px;
}
.header img {
  padding-left: 1%;
}

/*aside*/
.asideul {
  list-style-type: none;
}
.asideul {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: 18px;
}
.asideul li {
  border-bottom: 1px solid gray;
  padding: 10px 0px 10px 5px;
}
.asideul a {
  color: black;
  text-decoration: none;
}
.logout {
}

/* ---Index---*/
.index {
  background: rgb(38, 107, 121);
  background: linear-gradient(
      0deg,
      rgba(38, 107, 121, 0.46682422969187676) 0%,
      rgba(38, 107, 121, 0.4556197478991597) 0%,
      rgba(255, 255, 255, 0.2903536414565826) 100%
    ),
    url("/images/CanoeView.jpg");

  background-size: cover;
  padding-bottom: 100px;
  padding-top: 200px;
  width: 100%;
  height: 45vh;

  display: flex; /* Use flexbox to center content */
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text horizontally */
  
 
}
.index h1 {
  font-size: 5em;
  padding-top: 2%;
  margin-bottom: 0;
  color: white;
  text-shadow: 2px 4px 1px gray;
  
  
}
.indexh2 {
  font-size: 22px;
  color: white;
  font-weight: 400;
  text-shadow: 1px 1px 1px gray;
  margin-top: 0;
  
}



/* Code taken from https://getcssscan.com/css-buttons-examples */
.indexcta {
  align-items: center;
  background-color: #107e7d;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  transition: background-color 0.3s ease, color 0.3s ease;

  }
  .indexcta:hover {
    background-color: #1fa2a0; /* Change the background color on hover */
    color: #fff;
  
}

/*---ONBOARD PAGE---*/
.onboardform {
  width: 30%;
  margin: auto;
  margin-top: 10%;
  font-size: 22px;
}

.onboardform p {
  font-size: 20px;
}

.onboardform button {
  font-family: "montserrat";
  padding: 5px 10px;
  border: 1.5px solid #107e7d;
  border-radius: 3px;
}

/* --- Home page --- */
.container {
  display: flex;
  justify-content: space-between;
}

.container aside {
  width: 300px;
  height: 600px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

.mainhome {
  padding-left: 8%;
}

.mainhome h1 {
  margin-top: 25%;
  font-size: 2.5em;
}

/* Button Hover Decor taken and modified from https://codepen.io/konradwax/pen/woPNqJ */
.mainhome a {
  color: black;
  text-decoration: none;

  border: none;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.mainhome a:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 6px;
  right: -20px;
  transition: 0.5s;
}

.mainhome a:hover {
  padding-right: 10px;
  padding-left: 8px;
}

.mainhome a:hover:after {
  opacity: 1;
  right: 10px;
}

/* ---New Itinerary---*/
.newitindiv {
  width: 40%;
  margin: auto;
  margin-top: 12%;
  padding-top: 25px;
  font-size: 22px;
  border-radius: 10;
  text-align:center;
  background-color:white;
  box-shadow: 8px 8px 10px lightgray;
  height: 300px
 
}
.newitin p {
  font-size: 20px;
}

.newitin .form {
  width: 100%;
  padding-bottom: 30px;

}
.newitin button {
  padding: 5px;
  padding: 5px 10px;
  border: 2px solid #107e7d;
  border-radius: 3px;
  font-size: 16px;
  font-family: "montserrat";
}
.newitin a {
  text-decoration: none;
  color: black;
  
}

.create a {
color:white;
}
.newitin .create{
  background-color: #107e7d;
}



.newitin .cancel {
  margin-right: 45%;
  
}


/*---Itinerary detail page---*/
.itincard  {
  text-align: center;
  width: 50%;
  margin: auto;
  background-color:white;
  border-radius: 10px;
  box-shadow: 8px 8px 10px lightgray;
  margin-top:5%;
  padding-top:20px;
  padding-bottom:20px;
}

.newdetail h2 {
  text-align: left;
  border-bottom: .5px solid lightgray;
}

.itinitems {
  width:80%;
  margin:auto;

}

.newdetail button{
  padding: 5px;
  padding: 5px 10px;
  border: 2px solid #107e7d;
  border-radius: 3px;
  font-size: 16px;
  font-family: "montserrat";
  background-color:white;
  
}
.detailbuttonsflex {
  display:flex;
  justify-content:space-between;
  background-color:white;
  text-decoration:none;
  color: black;
}

.newdetail a{   
  background-color:white;
  text-decoration:none;
  color: black;

}
.newdetail .save a{
  background-color: #107e7d;
  color:white;
}

.newdetail .save{
  background-color: #107e7d;
  color:white;

}

