/*--Global Styles--*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "montserrat";
  background-color: #fffafa;
  margin: 0;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ---Partials--- */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.header button {
  /*font-family: "montserrat";
  margin: 50px 10px 0px 0px;
  padding: 5px 10px;
  border: 1.5px solid #107e7d;
  border-radius: 3px;*/

  color: white;
  font-family: "montserrat";
  margin: 50px 10px 0px 0px;
  padding: 9px 14px;
  border-radius: 2px;
  align-items: center;
  background-color: #107e7d;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

.header img {
  padding-left: 1%;
}

/*aside*/
.asideul {
  list-style-type: none;
}
.asideul {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: 18px;
}
.asideul li {
  border-bottom: 1px solid lightgray;
  padding: 10px 0px 20px 5px;
  box-shadow: 1px 1px 5px lightgray;
}
.asideul a {
  color: black;
  text-decoration: none;
}
.greeting {
  font-size: 20px;
  font-weight: 700;
}

footer {
  background-color: #107e7d;
  text-align: center;
  height: 70px;
  padding-top: 1em;
  color: white;
  margin-top: auto;
}

footer p {
  margin: 0;
}
footer a {
  color: white;
  text-decoration: none;
}

/* ---Index-------------------*/
.indexpage {
  background: rgb(38, 107, 121);
  background: linear-gradient(
      0deg,
      rgba(38, 107, 121, 0.46682422969187676) 0%,
      rgba(38, 107, 121, 0.4556197478991597) 0%,
      rgba(255, 255, 255, 0.2903536414565826) 100%
    ),
    url("/images/CanoeView.jpg");

  background-size: cover;
  padding-bottom: 100px;
  padding-top: 150px;
  width: 100%;
  height: 75vh;

  display: flex; /* Use flexbox to center content */
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text horizontally */
}
.indexpage h1 {
  font-size: 5em;
  padding-top: 2%;
  margin-bottom: 0;
  color: white;
  text-shadow: 2px 4px 1px gray;
}
.indexh2 {
  font-size: 22px;
  color: white;
  font-weight: 400;
  text-shadow: 1px 1px 1px gray;
  margin-top: 0;
}

.indexpage p {
  margin-top: 300px;
}

/* Code taken from https://getcssscan.com/css-buttons-examples */
.indexcta {
  align-items: center;
  background-color: #107e7d;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.indexcta:hover {
  background-color: #1fa2a0; /* Change the background color on hover */
  color: #fff;
}

/*---ONBOARD PAGE---*/

.onboardform {
  width: 400px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 18px;
  background-color:white;
  box-shadow: 8px 8px 10px lightgray;
  border-radius: 10px;
  padding-bottom: 12px;
}
.onboardform h1{
  text-align:center;
  font-size: 34px;
  margin-bottom:2px;
}
.onboardform input[type=text] {
  padding:7px;
  border-radius:10px;
  margin-bottom:8px;
  
}
.onboardform input{
  display: block;
  width: 100%;
}

.onboardform button {
  font-family: "montserrat";
  border-radius: 10px;
  background-color: #107e7d;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 330px;
  display:block;
  margin:auto;
  height:33px;
  
}
.onboardform form{ padding:20px 35px 20px 35px;}

.onboardform button a {text-decoration: 0;
color:white;
font-size:16px;}

input[type=checkbox] {
  width:13px;
  display:inline;
  margin-left:0;

}


/* --- Home page --- */
.container {
  display: flex;
  justify-content: space-between;
}

.container aside {
  width: 300px;
  height: 100%;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

.mainhome {
  padding-left: 8%;
}

.mainhome h1 {
  margin-top: 25%;
  font-size: 2.5em;
}

/* Button Hover Decor taken and modified from https://codepen.io/konradwax/pen/woPNqJ */
.mainhome a {
  color: black;
  text-decoration: none;

  border: none;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.mainhome a:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 6px;
  right: -20px;
  transition: 0.5s;
}

.mainhome a:hover {
  padding-right: 10px;
  padding-left: 8px;
}

.mainhome a:hover:after {
  opacity: 1;
  right: 10px;
}

/* ---New Itinerary---*/
.newitindiv {
  width: 40%;
  margin: auto;
  margin-top: 6%;
  padding-top: 25px;
  font-size: 22px;
  border-radius: 10;
  text-align: center;
  background-color: white;
  box-shadow: 8px 8px 10px lightgray;
  height: 300px;
  height:auto;
}
.newitin p {
  font-size: 20px;
}

.newitin .form {
  width: 100%;
  padding: 20px 35px 35px 35px;
  margin-bottom:2em;
  text-align: left;
  
}
.newitin button {
  padding: 5px;
  padding: 5px 10px;
  border: 2px solid #107e7d;
  border-radius: 3px;
  font-size: 16px;
  font-family: "montserrat";
}
.newitin a {
  text-decoration: none;
  color: black;
}

.create a {
  color: white;
}
.newitin .create {
  background-color: #107e7d;
}

.newitin .cancel {
  margin-right: 45%;
}

.newitindiv {
  border-radius: 4px;
}

.newitindiv input{
  display: block;
  width: 100%;
}

/*---Itinerary detail page---*/
.itincard {
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 8px 10px lightgray;
  margin-top: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.newdetail h2 {
  text-align: left;
  border-bottom: 0.5px solid lightgray;
}

.itinitems {
  width: 80%;
  margin: auto;
}

.newdetail button {
  padding: 5px;
  padding: 5px 10px;
  border: 2px solid #107e7d;
  border-radius: 3px;
  font-size: 16px;
  font-family: "montserrat";
  background-color: white;
}
.detailbuttonsflex {
  display: flex;
  justify-content: space-between;
  background-color: white;
  text-decoration: none;
  color: black;
  padding-top: 50px;
}

.newdetail a {
  background-color: white;
  text-decoration: none;
  color: black;
}
.newdetail .save a {
  background-color: #107e7d;
  color: white;
}

.newdetail .save {
  background-color: #107e7d;
  color: white;
}

.newdetail ul {
  list-style-type: none;
  text-align: left;
}
